[Desktop Entry]
Name=MochaPanelSolidCanonico
Comment=Mocha solid Plasma panel theme
Type=Service
X-KDE-ServiceTypes=Plasma/Theme
X-KDE-PluginInfo-Name=MochaPanelSolidCanonico
X-KDE-PluginInfo-Author=Mocha
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0
