[Desktop Entry]
Type=Application
Name=Instalar Mocha
Comment=Instalar Mocha no disco
Exec=/usr/local/bin/mocha-start-calamares
Icon=calamares
Terminal=false
Categories=System;
OnlyShowIn=KDE;
X-KDE-autostart-after=panel
StartupNotify=true
